/* ==== fhnw-mbau - MASCHINENBAU CSS CLASSES ==== */

[data-studiengang="fhnw-mbau"] .modul.mathematik-1,
[data-studiengang="fhnw-mbau"] .legende-item.mathematik-1 {
  background-color: var(--color-mathematik-1);
  color: white;
}

[data-studiengang="fhnw-mbau"] .modul.mathematik-2,
[data-studiengang="fhnw-mbau"] .legende-item.mathematik-2 {
  background-color: var(--color-mathematik-2);
  color: white;
}

[data-studiengang="fhnw-mbau"] .modul.naturwissenschaften,
[data-studiengang="fhnw-mbau"] .legende-item.naturwissenschaften {
  background-color: var(--color-naturwissenschaften);
  color: white;
}

[data-studiengang="fhnw-mbau"] .modul.werkstoffe,
[data-studiengang="fhnw-mbau"] .legende-item.werkstoffe {
  background-color: var(--color-werkstoffe);
  color: white;
}

[data-studiengang="fhnw-mbau"] .modul.labor,
[data-studiengang="fhnw-mbau"] .legende-item.labor {
  background-color: var(--color-labor);
  color: white;
}

[data-studiengang="fhnw-mbau"] .modul.mechanik,
[data-studiengang="fhnw-mbau"] .legende-item.mechanik {
  background-color: var(--color-mechanik);
  color: white;
}

[data-studiengang="fhnw-mbau"] .modul.thermo-fluid-energie,
[data-studiengang="fhnw-mbau"] .legende-item.thermo-fluid-energie {
  background-color: var(--color-thermo-fluid-energie);
  color: white;
}

[data-studiengang="fhnw-mbau"] .modul.elektrische-energietechnik,
[data-studiengang="fhnw-mbau"] .legende-item.elektrische-energietechnik {
  background-color: var(--color-elektrische-energietechnik);
  color: white;
}

[data-studiengang="fhnw-mbau"] .modul.fachvertiefung,
[data-studiengang="fhnw-mbau"] .legende-item.fachvertiefung {
  background-color: var(--color-fachvertiefung);
  color: white;
}

[data-studiengang="fhnw-mbau"] .modul.fachergaenzung,
[data-studiengang="fhnw-mbau"] .legende-item.fachergaenzung {
  background-color: var(--color-fachergaenzung);
  color: white;
}

[data-studiengang="fhnw-mbau"] .modul.projekte-labor,
[data-studiengang="fhnw-mbau"] .legende-item.projekte-labor {
  background-color: var(--color-projekte-labor);
  color: white;
}

[data-studiengang="fhnw-mbau"] .modul.kommunikation,
[data-studiengang="fhnw-mbau"] .legende-item.kommunikation {
  background-color: var(--color-kommunikation);
  color: white;
}

[data-studiengang="fhnw-mbau"] .modul.englisch,
[data-studiengang="fhnw-mbau"] .legende-item.englisch,
[data-studiengang="fhnw-mbau"] .modul.bwl,
[data-studiengang="fhnw-mbau"] .legende-item.bwl,
[data-studiengang="fhnw-mbau"] .modul.gsw,
[data-studiengang="fhnw-mbau"] .legende-item.gsw {
  background-color: var(--color-gsw);
  color: white;
}
